/* @@main index styles */
.main-con {
  min-height: 100%;
}

/* @@@banner styles */
.banner-con {
  width: 100%;
  height: 60vh;
  max-height: 450px;
}
.banner-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @@@animated title styles */
.animated-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cd-intro {
  color: #666;
  font-family: "ralewayregular", sans-serif;
}

.cd-words-wrapper {
  font-family: "ralewaybold", sans-serif;
  color: #4d4d4d;
}
.cd-words-wrapper span:first-child {
  margin-right: 0.25rem;
}
.cd-words-wrapper b:nth-child(3n+1) {
  color: #D29884;
}
.cd-words-wrapper b:nth-child(3n+2) {
  color: #146F57;
}
.cd-words-wrapper b:nth-child(3n+3) {
  color: #797775;
}

/* @@@main content styles */
.contact {
  margin-top: 3rem;
}

/* @@@contact form styles */
.contact-form {
  display: flex;
  justify-content: center;
}
.contact-form form {
  margin-top: 2rem;
  padding: 2rem 1rem;
  width: auto;
  display: grid;
  grid-row-gap: 1.5rem;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: #e6e6e6;
}
.contact-form p {
  width: 100%;
}
.contact-form label {
  padding: 0;
  width: 100%;
  display: block;
  background-color: transparent;
}
.contact-form .hid {
  display: none;
}
.contact-form input, .contact-form textarea {
  padding: 0.25rem 0.5rem;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  background-color: #ccc;
}
.contact-form input:focus, .contact-form input:active, .contact-form textarea:focus, .contact-form textarea:active {
  border: 2px solid #D29884;
  background-color: #f2f2f2;
}
.contact-form input:visited, .contact-form textarea:visited {
  border: 2px solid #eaae9a;
}
.contact-form .submit-btn {
  display: flex;
  justify-content: center;
}
.contact-form .submit-btn button {
  padding: 0.25rem 2rem;
  margin: 0 auto;
  border: 3px solid #0A5145;
  border-radius: 1rem;
  background-color: #0A5145;
  color: #FFF;
  font-family: "ralewaybold", sans-serif;
  font-size: 1.25em;
}
.contact-form .submit-btn button:hover {
  background-color: #54957D;
  color: #003628;
}

@media only screen and (min-width: 680px) {
  .contact > .contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-text {
    padding-right: 2rem;
    max-width: 500px;
  }

  .contact-form > form {
    min-width: 300px;
  }
}
@media only screen and (min-width: 900px) {
  .contact {
    margin-top: 8rem;
  }

  .contact-text {
    max-width: 900px;
  }
}

/*# sourceMappingURL=content-styles.css.map */
