/* main stylesheet */
/* global variables */
body {
  background-color: #FFF;
  color: #333;
  font-family: "ralewayregular", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ralewayregular", sans-serif;
}

.container,
.container-wide,
.container-full {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .wrapper {
  width: 85%;
  max-width: 1200px;
}

.container-wide > .wrapper {
  width: 95%;
}

.container-full > .wrapper {
  width: 100%;
}

.d-none {
  display: none;
}

.text-italic {
  font-style: italic;
}

.skip-btn:not(:focus):not(:hover) {
  top: -100%;
  opacity: 0;
}

.skip-btn:focus {
  top: 0;
  opacity: 1;
}

.skip-btn {
  position: absolute;
  left: 0;
  z-index: 100;
  padding: 1rem;
  background-color: #ccc;
}

/* page section styles */
/* @@header styles */
.header-con {
  background-color: #003628;
}
.header-con .wrapper {
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo > h2 {
  color: #FFF;
  font-family: "madebruno", serif;
  font-size: 2em;
}

.header__menu {
  display: grid;
  justify-items: end;
}
.header__menu .btn {
  padding: 0.65rem;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  color: #FFF;
}
.header__menu .btn:hover {
  border: 2px solid #FFF;
}
.header__menu .btn i {
  width: 14px;
  display: none;
}
.header__menu .btn i.active {
  display: block;
}

.header__nav {
  position: absolute;
  top: -100%;
  right: 0;
  z-index: 90;
  opacity: 0;
  padding: 4rem 0;
  width: 100%;
  background-color: #D29884;
  font-family: "ralewaybold", sans-serif;
}
.header__nav .nav-wrapper {
  display: grid;
  grid-row-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-item {
  padding: 1rem;
  border: 1px solid transparent;
  background-color: transparent;
  color: #FFF;
  font-size: 1.5em;
  text-decoration: none;
}
.nav-item:hover {
  background-color: #FFF;
  color: #D29884;
}

@media only screen and (min-width: 900px) {
  .header__menu > .btn {
    display: none;
  }

  .header__nav {
    position: static;
    opacity: 1 !important;
    padding: 0;
    width: auto;
    background-color: transparent;
  }
  .header__nav .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .nav-item {
    padding: 0.5rem;
    border: 2px solid transparent;
    color: #b3b3b3;
    font-size: 1.125em;
    /*underline transition styles*/
  }
  .nav-item:hover {
    background-color: transparent;
    color: #FFF;
  }
  .nav-item:after {
    display: block;
    content: "";
    border-bottom: solid 3px #FFF;
    transform: scaleX(0);
    -webkit-transition: transform 0.14s ease-in-out;
    -moz-transition: transform 0.14s ease-in-out;
    -o-transition: transform 0.14s ease-in-out;
    transition: transform 0.14s ease-in-out;
  }
  .nav-item:hover:after {
    transform: scaleX(1);
  }
}
/* @@footer styles */
.footer-con {
  background-color: #1a1a1a;
  color: #FFF;
}
.footer-con .wrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icons {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-social-icons a {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #999;
  border-radius: 100%;
  color: #b3b3b3;
  text-align: center;
  text-decoration: none;
}
.footer-social-icons a:hover {
  border: 2px solid #e6e6e6;
  color: #1a1a1a;
  background-color: #e6e6e6;
}
.footer-social-icons a i {
  width: 22.5px;
  font-size: 1.25rem;
}

.copyright {
  padding: 1rem 0;
  font-family: sans-serif;
  background-color: #1a1a1a;
  color: #b3b3b3;
}

/* @@@top button styles */
#topBtn {
  position: fixed;
  bottom: 5%;
  right: -83px;
  z-index: 50;
  border: none;
  background-color: transparent;
  font-size: 3.5em;
  color: rgba(47, 48, 48, 0.25);
  opacity: 0;
  -webkit-transition: color 0.16s, right ease-in-out 1.25s;
  -moz-transition: color 0.16s, right ease-in-out 1.25s;
  -o-transition: color 0.16s, right ease-in-out 1.25s;
  transition: color 0.16s, right ease-in-out 1.25s;
}
#topBtn:hover {
  cursor: pointer;
  color: rgba(47, 48, 48, 0.8);
}

/* @@@contact styles */
.contact {
  background-color: #0A5145;
}

.contact-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 85%;
}
.contact-wrapper h2 {
  margin-bottom: 2rem;
  color: #FFF;
  font-size: 1.75em;
  font-family: ralewaybold, Arial, sans-serif;
  text-transform: lowercase;
}
.contact-wrapper p {
  color: #f2f2f2;
  font-size: 1.125em;
}
.contact-wrapper .email-link {
  margin-top: 1rem;
}
.contact-wrapper a {
  color: #f2f2f2;
  font-size: 1.25em;
  font-family: ralewaymedium, Arial, sans-serif;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.contact-wrapper a:hover {
  border-bottom: 2px solid #f2f2f2;
}

/* @@@main page content styles */
.main-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  display: grid;
  grid-row-gap: 4rem;
}
.main-content .content-box {
  margin: 0 auto 1rem;
  width: 80%;
  max-width: 900px;
}
.main-content .content-box h3 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #074533;
  font-size: 2em;
  font-family: "ralewayregular", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  border-bottom: 2px solid #8d9194;
}
.main-content .content-box h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #495057;
  font-size: 1.75rem;
  font-family: "ralewayregular", sans-serif;
  font-weight: 500;
  text-transform: lowercase;
}
.main-content .content-box h5 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  color: #495057;
  font-size: 1.25em;
  font-family: "ralewayregular", sans-serif;
  font-weight: 500;
  text-transform: lowercase;
}
.main-content .content-box p {
  color: #212429;
  font-size: 1em;
  margin-bottom: 0.5rem;
}
.main-content .img-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  grid-row-start: 1;
}
.main-content .img-box img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.main-content .content-full {
  display: grid;
  grid-row-gap: 4rem;
}

@media only screen and (min-width: 900px) {
  .main-content {
    grid-row-gap: 25vh;
  }
  .main-content .content-full {
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    align-items: center;
  }
  .main-content .img-box {
    grid-row-start: auto;
    height: 100%;
  }
}

/*# sourceMappingURL=main-styles.css.map */
