/* main stylesheet */


$white: #FFF;

$gray1: #f2f2f2;
$gray2: #e6e6e6;
$gray3: #ccc;
$gray4: #b3b3b3;
$gray5: #999;
$gray6: #808080;
$gray7: #666;
$gray8: #4d4d4d;
$gray9: #333;
$gray10: #1a1a1a;

$black: #111;

$pink1: #edc2b4;
$pink2: #eaae9a;
$pink3: #D29884;
$pink4: #b28070;
$pink5: #48302D;

$blue1: #96bbcd;
$blue2: #53849b;

$green1: #54957D;
$green2: #146F57;
$green3: #0A5145;
$green4: #074533;
$green5: #003628;

$softgray1: #EAE3C2;
$softgray2: #E1D9C2;
$softgray3: #D3CDC1;
$softgray4: #797775;
$softgray5: #414141;

$font: "ralewayregular", sans-serif;
$font-light: "ralewaylight", sans-serif;
$font-medium: "ralewaymedium", sans-serif;
$font-bold: "ralewaybold", sans-serif;
$font-black: "ralewayblack", sans-serif;
$font-header: 'madebruno', serif;


/* global variables */

body {
    background-color: $white;
    color: $gray9;
    font-family: $font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font;
}


.container,
.container-wide,
.container-full {
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container>.wrapper {
    width: 85%;
    max-width: 1200px;
}

.container-wide>.wrapper {
    width: 95%;
}

.container-full>.wrapper {
    width: 100%;
}

.d-none {
    display: none;
}

.text-italic {
    font-style: italic;
}


.skip-btn:not(:focus):not(:hover) {
    top: -100%;
    opacity: 0;
}

.skip-btn:focus {
    top: 0;
    opacity: 1;
}

.skip-btn {
    position: absolute;
    left: 0;
    z-index: 100;

    padding: 1rem;

    background-color: $gray3;
}


/* page section styles */

/* @@header styles */

.header-con {
    background-color: $green5;

    .wrapper {
        padding: 1.25rem 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.header__logo>h2 {
    color: $white;
    font-family: $font-header;
    font-size: 2em;
}


.header__menu {
    display: grid;
    justify-items: end;

    .btn {
        padding: 0.65rem;
        border: 2px solid transparent;
        border-radius: 50%;
        background-color: transparent;
        color: $white;

        &:hover {
            border: 2px solid $white;
        }

        i {
            width: 14px;
            display: none;
        }

        i.active {
            display: block;
        }
    }
}


.header__nav {
    position: absolute;
    top: -100%;
    right: 0;
    z-index: 90;
    opacity: 0;

    padding: 4rem 0;
    width: 100%;

    background-color: $pink3;
    font-family: $font-bold;

    .nav-wrapper {
        display: grid;
        grid-row-gap: 1rem;
        align-items: center;
        justify-content: center;

        text-align: center;
    }
}

.nav-item {
    padding: 1rem;

    border: 1px solid transparent;
    background-color: transparent;
    color: $white;
    font-size: 1.5em;
    text-decoration: none;

    &:hover {
        background-color: $white;
        color: $pink3;
    }
}


@media only screen and (min-width: 900px) {

    .header__menu>.btn {
        display: none;
    }

    .header__nav {
        position: static;
        opacity: 1 !important;

        padding: 0;
        width: auto;

        background-color: transparent;

        .nav-wrapper {
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }

    .nav-item {
        padding: 0.5rem;

        border: 2px solid transparent;
        color: $gray4;
        font-size: 1.125em;

        &:hover {
            background-color: transparent;
            color: $white;
        }

        /*underline transition styles*/
        &:after {
            display: block;
            content: '';
            border-bottom: solid 3px $white;
            transform: scaleX(0);
            -webkit-transition: transform .14s ease-in-out;
            -moz-transition: transform .14s ease-in-out;
            -o-transition: transform .14s ease-in-out;
            transition: transform .14s ease-in-out;
        }

        &:hover:after {
            transform: scaleX(1);
        }
    }

}



/* @@footer styles */

.footer-con {
    background-color: $gray10;
    color: $white;

    .wrapper {
        padding: 2rem 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.footer-social-icons {
    width: 80%;
    max-width: 400px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a {
        padding: 0.75rem;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 2px solid $gray5;
        border-radius: 100%;

        color: $gray4;
        text-align: center;
        text-decoration: none;

        &:hover {
            border: 2px solid $gray2;

            color: $gray10;
            background-color: $gray2;
        }

        i {
            width: 22.5px;
            font-size: 1.25rem;
        }
    }
}


.copyright {
    padding: 1rem 0;

    font-family: sans-serif;
    background-color: $gray10;
    color: $gray4;
}



/* @@@top button styles */

#topBtn {
    position: fixed;
    bottom: 5%;
    right: -83px;
    z-index: 50;

    border: none;
    background-color: transparent;
    font-size: 3.5em;
    color: rgba(47, 48, 48, 0.25);
    opacity: 0;

    -webkit-transition: color .16s, right ease-in-out 1.25s;
    -moz-transition: color .16s, right ease-in-out 1.25s;
    -o-transition: color .16s, right ease-in-out 1.25s;
    transition: color .16s, right ease-in-out 1.25s;

    &:hover {
        cursor: pointer;
        color: rgba(47, 48, 48, 0.8)
    }
}


/* @@@contact styles */


.contact {
    background-color: $green3;
}

.contact-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 85%;

    h2 {
        margin-bottom: 2rem;

        color: $white;
        font-size: 1.75em;
        font-family: ralewaybold, Arial, sans-serif;
        text-transform: lowercase;
    }

    p {
        color: $gray1;
        font-size: 1.125em;
    }

    .email-link {
        margin-top: 1rem;
    }

    a {
        color: $gray1;
        font-size: 1.25em;
        font-family: ralewaymedium, Arial, sans-serif;
        text-decoration: none;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid $gray1;
        }
    }
}


/* @@@main page content styles */
.main-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    display: grid;
    grid-row-gap: 4rem;

    .content-box {
        margin: 0 auto 1rem;
        width: 80%;
        max-width: 900px;

        h3 {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            color: #074533;
            font-size: 2em;
            font-family: $font;
            font-weight: bold;
            text-transform: lowercase;
            border-bottom: 2px solid #8d9194;
        }

        h4 {
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
            color: #495057;
            font-size: 1.75rem;
            font-family: $font;
            font-weight: 500;
            text-transform: lowercase;
        }

        h5 {
            margin-top: 1rem;
            margin-bottom: 0.25rem;
            color: #495057;
            font-size: 1.25em;
            font-family: $font;
            font-weight: 500;
            text-transform: lowercase;
        }

        p {
            color: #212429;
            font-size: 1em;
            margin-bottom: 0.5rem;
        }
    }

    .img-box {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;

        img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }

        grid-row-start: 1;
    }

    .content-full {
        display: grid;
        grid-row-gap: 4rem;
    }
}


@media only screen and (min-width: 900px) {

    .main-content {
        grid-row-gap: 25vh;

        .content-full {
            grid-template-columns: auto auto;
            grid-column-gap: 2rem;

            align-items: center;
        }

        .img-box {
            grid-row-start: auto;
            height: 100%;
        }
    }
}